.banner {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/assets/bannerHome.png);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: .5rem;
    text-align: center;
    border-radius: 10px;
    h1 {
        font-size: $base-font-size * 3;
    }
}
