.baner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/bannerHome.png);
  background-position: center;
  object-fit: fill ;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  h1{
    font-size: $base-font-size*3;
  }
}