.calendar{
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    border-radius: $borderRadius;
    color: black;
    &:hover{
        background-color: rgb(244, 242, 242);
    }
}