.carrousel{
    width: 100%;
    &__items{
        width: 100%;
        list-style-type: none; 
    }
    &__item{
        display: none;
        position: relative;

    }
    &__img{
        width: 100%;
            height: $bannerImgHeight*3;
            object-fit: cover;
            border-radius: $borderRadius;
            object-position: center 44%;
    }
    &__count{
        position: absolute;
        bottom: .5rem;
        left: 50%;
        color: white;
        @media screen and (max-width: 800px){
        display: none;
        }
    }
    &__rightA{
        position: absolute;
        top: 50%;
        right: 1rem;
        background-color: transparent;
        width: 55px;
        height: auto;
        transform: rotate(-90deg);
        color: $primary;
    }
    
    &__rightA:hover{
        cursor: pointer;
       // transform: scale(1.5) rotate(-90deg);
    }

    &__leftA{
        position: absolute;
        top: 50%;
        left: 1rem;
        background-color: transparent;
        width: 55px;
        height: auto;
        transform: rotate(90deg);
        color: $primary;
    }
    &__leftA:hover{
        cursor: pointer;
        //transform: scale(1.5) rotate(90deg)
    }
    &__currentSlide{
       width: 100%;
       text-align: center;
       span{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: .2rem;
        background-color: rgb(197, 197, 197);
        border-radius: 50%; 
       }
       span.active{
        background-color: rgb(120, 120, 120);
       }
       span:hover{
        background-color: rgb(120, 120, 120);
        cursor: pointer;
       }
    }
}
