.collapse{
    width: 45%;
    background-color: rgb(250, 249, 249);
    border-radius: $borderRadius;
    @media screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: 1rem;
    }
    &__header{
        background-color: $primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        border-radius: $borderRadius;
        h3{
            color: white;
            font-size: $base-font-size;
        }
        img{
            height: 16px;
        }
    }
    &__header:hover{
        cursor: pointer;
    }
    &__paragraph{
        width: 100%;
        p{
            padding: 0 1rem 0 1rem;
            font-size: $base-font-size;
        }
        li{
            list-style-type: none;
        }
    }
}

.arrowUp{
    transform: rotate(0deg);
}

.arrowDown{
    transform: rotate(180deg);
}