.about{
    &__content{
        position: relative;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       
    }
    &__contentHeader{
        width: 100%;
        margin-bottom: 1rem;
    }
    &__contentMain{
        width: 100%;
        article{
            width: 90%;
            margin: 0 auto 1rem auto;
        }
    }
}