.about{
    max-width: 1366px;
    height: 100%;
    &__content{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       
    }
    &__contentHeader{
        width: 100%;
        margin: 0 0 1rem 0 ;
    }
    &__contentMain{
        width: 100%;
        article{
            width: 90%;
            margin: 0 auto 1rem auto;
        }
    }
}