
$base-font-size: 16px;
$primary: #FF6060;
$bannerImgHeight: 150px;
$borderRadius: .5rem;

@function trim-unit($value){
    @return $value /  ($value * 0 + 1);
}

@function rem-calc($value){
    @return $value / trim-unit($base-font-size) * 1rem;
}

*{
    font-size: $base-font-size*1.5;
    transition: ease all .5s;
    @media screen and (max-width: 600px) {
        font-size: $base-font-size;
    }
}

ul{
    padding: 0;
}

body{
    font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0 5%;
    padding: 0;
    color: $primary;
}

.home, .about, .notFound, .housing{
    // width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}